
@{
    ViewData["Title"] = "Index";
}

<h1>JsonController/Index</h1>
<h4><a href="~/Json/Index2" target="_blank">~/Json/Index2</a></h4>
<h4><a href="~/Json/Index3" target="_blank">~/Json/Index3</a></h4>
<h4><a href="~/Json/Index4" target="_blank">~/Json/Index4</a></h4>
<h4><a href="~/Json/Index5" target="_blank">~/Json/Index5</a></h4>
<h4><a href="~/Json/Index6" target="_blank">~/Json/Index6</a></h4>