
@{
    ViewData["Title"] = "Index";
}

<h1>OptionController/Index</h1>
<h4><a href="~/Option/GetUserInfo" target="_blank">~/Option/GetUserInfo</a></h4>
<h4><a href="~/Option/GetUserExtraInfo" target="_blank">~/Option/GetUserExtraInfo</a></h4>