
@{
    ViewData["Title"] = "Index";
}

<h1>CustomerRepositoryController/Index</h1>
<h4><a href="~/CustomerRepository/QueryAllCustomers" target="_blank">~/CustomerRepository/QueryAllCustomers</a></h4>