# Ant build files
env.properties
local.properties

# Build and Release Folders
bin-debug/
bin-release/
dist/
bin/
obj/

# Other files
*.swc
/WebApplication.sln.DotSettings.user
/.vs
*.csproj.user
/*/Properties/PublishProfiles
