
@{
    ViewData["Title"] = "Index";
}

<h1>ApplicationDbContextController/Index</h1>
<h4><a href="~/ApplicationDbContext/GetAll" target="_blank">~/ApplicationDbContext/GetAll</a></h4>
<h4><a href="~/ApplicationDbContext/GetPageList?page=1&pageSize=10" target="_blank">~/ApplicationDbContext/GetPageList?page=1&pageSize=10</a></h4>
<h4><a href="~/ApplicationDbContext/GetPageList?page=2&pageSize=10" target="_blank">~/ApplicationDbContext/GetPageList?page=2&pageSize=10</a></h4>
<h4><a href="~/ApplicationDbContext/GetPageList?page=3&pageSize=8" target="_blank">~/ApplicationDbContext/GetPageList?page=2&pageSize=10</a></h4>
<h4><a href="~/ApplicationDbContext/Add" target="_blank">~/ApplicationDbContext/Add</a></h4>
<h4><a href="~/ApplicationDbContext/Add2" target="_blank">~/ApplicationDbContext/Add2</a></h4>