
@{
    ViewData["Title"] = "Index";
}

<h1>RepositoryController/Index</h1>
<h4><a href="~/Repository/GetList" target="_blank">~/Repository/GetList</a></h4>
<h4><a href="~/Repository/GetListWithPagination?pageIndex=1&pageSize=10" target="_blank">~/Repository/GetListWithPagination?pageIndex=1&pageSize=10</a></h4>
<h4><a href="~/Repository/GetListWithPagination?pageIndex=3&pageSize=10" target="_blank">~/Repository/GetListWithPagination?pageIndex=3&pageSize=10</a></h4>
<h4><a href="~/Repository/GetById?customerId=BERGS" target="_blank">~/Repository/GetById?customerId=BERGS</a></h4>
<h4><a href="~/Repository/Get?customerId=CHOPS" target="_blank">~/Repository/Get?customerId=CHOPS</a></h4>
<h4><a href="~/Repository/Add" target="_blank">~/Repository/Add</a></h4>
