
@{
    ViewData["Title"] = "Index";
}

<h1>BaseServiceController/Index</h1>
<h4><a href="~/BaseService/GetList" target="_blank">~/BaseService/GetList</a></h4>
<h4><a href="~/BaseService/GetPageList" target="_blank">~/BaseService/GetPageList</a></h4>