@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .td {
        padding: 10px 0px;
        display: inline-block;
    }

    .rtd{
        padding-left: 5px;
    }

    .ltd{
        padding-right: 5px;
    }
</style>

<h1>AccountController/Index</h1>
<form method="post" target="_self" action="~/Account/Login">
    <table>
        <tr>
            <td align="right" class="ltd" width="140">Username: </td>
            <td align="left" class="rtd"><input type="text" name="Username" value="admin" /></td>
        </tr>
        <tr>
            <td align="right" class="ltd">Username: </td>
            <td align="left" class="rtd"><input type="text" name="Password" value="mqd3333826" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="~/Account/Login" /></td>
        </tr>
    </table>
</form>
<hr />
<form method="post" target="_self" action="~/Account/Login">
    <table>
        <tr>
            <td align="right" class="ltd" width="140">Username: </td>
            <td align="left" class="rtd"><input type="text" name="Username" value="admin" /></td>
        </tr>
        <tr>
            <td align="right" class="ltd">Username: </td>
            <td align="left" class="rtd"><input type="text" name="Password" value="123456" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="~/Account/Login" /></td>
        </tr>
    </table>
</form>

<hr />
<form method="post" target="_self" action="~/Account/Login2">
    <table>
        <tr>
            <td align="right" class="ltd" width="140">Username: </td>
            <td align="left" class="rtd"><input type="text" name="Username" value="1admin" /></td>
        </tr>
        <tr>
            <td align="right" class="ltd">Username: </td>
            <td align="left" class="rtd"><input type="text" name="Password" value="123456" /></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" value="~/Account/Login2" /></td>
        </tr>
    </table>
</form>