
@{
    ViewData["Title"] = "Index";
}

<h1>ConfigurationController/Index</h1>
<h4><a href="~/Configuration/GetAll" target="_blank">~/Configuration/GetAll</a></h4>
<h4><a href="~/Configuration/GetAllowedHosts" target="_blank">~/Configuration/GetAllowedHosts</a></h4>
<h4><a href="~/Configuration/GetUserInfoOptions" target="_blank">~/Configuration/GetUserInfoOptions</a></h4>
<h4><a href="~/Configuration/GetUserInfoOptionsAttr" target="_blank">~/Configuration/GetUserInfoOptionsAttr</a></h4>
<h4><a href="~/Configuration/GetUserInfoOptionsAttr2" target="_blank">~/Configuration/GetUserInfoOptionsAttr2</a></h4>
<h4><a href="~/Configuration/GetLogLevel" target="_blank">~/Configuration/GetLogLevel</a></h4>
<h4><a href="~/Configuration/GetUserExtraInfoOptions" target="_blank">~/Configuration/GetUserExtraInfoOptions</a></h4>
<h4><a href="~/Configuration/GetUserExtraInfoOptionsAttr" target="_blank">~/Configuration/GetUserExtraInfoOptionsAttr</a></h4>
<h4><a href="~/Configuration/GetInteger" target="_blank">~/Configuration/GetInteger</a></h4>
<h4><a href="~/Configuration/GetInteger2" target="_blank">~/Configuration/GetInteger2</a></h4>
<h4><a href="~/Configuration/GetString" target="_blank">~/Configuration/GetString</a></h4>
<h4><a href="~/Configuration/GetString2" target="_blank">~/Configuration/GetString2</a></h4>
<h4><a href="~/Configuration/GetBoolean" target="_blank">~/Configuration/GetBoolean</a></h4>
<h4><a href="~/Configuration/GetBoolean2" target="_blank">~/Configuration/GetBoolean2</a></h4>
<h4><a href="~/Configuration/GetFloat" target="_blank">~/Configuration/GetFloat</a></h4>