@{
    ViewData["Title"] = "Index";
}

<h1>Session Controller</h1>
<h3><a href="~/Session/GetSessionId" target="_blank">~/Session/GetSessionId</a></h3>
<h3><a href="~/Session/GetSessionAllKeys" target="_blank">~/Session/GetSessionAllKeys</a></h3>
<h3><a href="~/Session/GetSessionUserLoginInfo" target="_blank">~/Session/GetSessionUserLoginInfo</a></h3>