
@{
    ViewData["Title"] = "Index";
}

<h1>SqlSugarClientController/Index</h1>
<h4><a href="~/SqlSugarClient/GetConnectingString" target="_blank">~/SqlSugarClient/GetConnectingString</a></h4>
<h4><a href="~/SqlSugarClient/GetAllCustomers" target="_blank">~/SqlSugarClient/GetAllCustomers</a></h4>