@{
    ViewData["Title"] = "Index";
}

<h1>Account/Index</h1>
<form method="post" action="~/Account/Login">
    <table>
        <tr>
            <td align="right" width="120">UserName: </td>
            <td><input type="text" name="Username" value="admin" /></td>
        </tr>
        <tr>
            <td align="right">Password: </td>
            <td><input type="text" name="Password" value="123456" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>