
@{
    ViewData["Title"] = "Index";
}

<h1>RedisController/Index</h1>
<h4><a href="./SetString" target="_blank">./SetString</a></h4>
<h4><a href="./GetString" target="_blank">./GetString</a></h4>
<h4><a href="./SetInt32" target="_blank">./SetInt32</a></h4>
<h4><a href="./GetInt32" target="_blank">./GetInt32</a></h4>
<h4><a href="./SetInt16" target="_blank">./SetInt16</a></h4>
<h4><a href="./GetInt16" target="_blank">./GetInt16</a></h4>
<h4><a href="./SetInt64" target="_blank">./SetInt64</a></h4>
<h4><a href="./GetInt64" target="_blank">./GetInt64</a></h4>
<h4><a href="./SetBoolean" target="_blank">./SetBoolean</a></h4>
<h4><a href="./GetBoolean" target="_blank">./GetBoolean</a></h4>
<h4><a href="./SetFloat" target="_blank">./SetFloat</a></h4>
<h4><a href="./GetFloat" target="_blank">./GetFloat</a></h4>
<h4><a href="./SetDouble" target="_blank">./SetDouble</a></h4>
<h4><a href="./GetDouble" target="_blank">./GetDouble</a></h4>
<h4><a href="./SetDecimal" target="_blank">./SetDecimal</a></h4>
<h4><a href="./GetDecimal" target="_blank">./GetDecimal</a></h4>
<h4><a href="./SetDatetime" target="_blank">./SetDatetime</a></h4>
<h4><a href="./GetDatetime" target="_blank">./GetDatetime</a></h4>
<h4><a href="./SetObject" target="_blank">./SetObject</a></h4>
<h4><a href="./GetObject" target="_blank">./GetObject</a></h4>