
@{
    ViewData["Title"] = "Index";
}

<h1>UserController/Index</h1>
<h4><a href="./GetAll" target="_blank">./GetAll</a></h4>
<h4><a href="./GetByUserId?userId=1001" target="_blank">./GetByUserId?userId=1001</a></h4>
<h4><a href="./GetByUserName?username=Username1002" target="_blank">./GetByUserName?username=Username1002</a></h4>