@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <h1>Session Controller</h1>
        <h3><a href="~/Session/GetSessionId" target="_blank">~/Session/GetSessionId</a></h3>
        <h3><a href="~/Session/GetSessionKeys" target="_blank">~/Session/GetSessionKeys</a></h3>
        <h3><a href="~/Session/SetSessionAttrString" target="_blank">~/Session/SetSessionAttrString</a></h3>
        <h3><a href="~/Session/GetSessionAttrString" target="_blank">~/Session/GetSessionAttrString</a></h3>
        <h3><a href="~/Session/SetSessionAttrInt32" target="_blank">~/Session/SetSessionAttrInt32</a></h3>
        <h3><a href="~/Session/GetSessionAttrInt32" target="_blank">~/Session/GetSessionAttrInt32</a></h3>
        <h3><a href="~/Session/SetSessionAttrObject" target="_blank">~/Session/SetSessionAttrObject</a></h3>
        <h3><a href="~/Session/GetSessionAttrObject" target="_blank">~/Session/GetSessionAttrObject</a></h3>
        <h3><a href="~/Session/SetSessionAttrObject2" target="_blank">~/Session/SetSessionAttrObject2</a></h3>
        <h3><a href="~/Session/GetSessionAttrObject2" target="_blank">~/Session/GetSessionAttrObject2</a></h3>
        <h3><a href="~/Session/SetSessionAttrBoolean" target="_blank">~/Session/SetSessionAttrBoolean</a></h3>
        <h3><a href="~/Session/SetSessionAttrBoolean2" target="_blank">~/Session/SetSessionAttrBoolean2</a></h3>
        <h3><a href="~/Session/GetSessionAttrBoolean" target="_blank">~/Session/GetSessionAttrBoolean</a></h3>
        <h3><a href="~/Session/SetSessionAttrFloat" target="_blank">~/Session/SetSessionAttrFloat</a></h3>
        <h3><a href="~/Session/GetSessionAttrFloat" target="_blank">~/Session/GetSessionAttrFloat</a></h3>
        <h3><a href="~/Session/SetSessionAttrDouble" target="_blank">~/Session/SetSessionAttrDouble</a></h3>
        <h3><a href="~/Session/GetSessionAttrDouble" target="_blank">~/Session/GetSessionAttrDouble</a></h3>
        <h3><a href="~/Session/SetSessionAttrInt16" target="_blank">~/Session/SetSessionAttrInt16</a></h3>
        <h3><a href="~/Session/GetSessionAttrInt16" target="_blank">~/Session/GetSessionAttrInt16</a></h3>
        <h3><a href="~/Session/SetSessionAttrInt64" target="_blank">~/Session/SetSessionAttrInt64</a></h3>
        <h3><a href="~/Session/GetSessionAttrInt64" target="_blank">~/Session/GetSessionAttrInt64</a></h3>
        <h3><a href="~/Session/SetSessionAttrDecimal" target="_blank">~/Session/SetSessionAttrDecimal</a></h3>
        <h3><a href="~/Session/GetSessionAttrDecimal" target="_blank">~/Session/GetSessionAttrDecimal</a></h3>
        <h3><a href="~/Session/SetSessionAttrDatetime" target="_blank">~/Session/SetSessionAttrDatetime</a></h3>
        <h3><a href="~/Session/GetSessionAttrDatetime" target="_blank">~/Session/GetSessionAttrDatetime</a></h3>
    </p>
    <p>
        <h1>DistributeCache Controller</h1>
        <h3><a href="~/DistributeCache/SetString" target="_blank">~/DistributeCache/SetString</a></h3>
        <h3><a href="~/DistributeCache/GetString" target="_blank">~/DistributeCache/GetString</a></h3>
    </p>
    <p>
        <h1>RedisHelper Controller</h1>
        <h3><a href="~/RedisHelper/SetString" target="_blank">~/RedisHelper/SetString</a></h3>
        <h3><a href="~/RedisHelper/GetString" target="_blank">~/RedisHelper/GetString</a></h3>
        <h3><a href="~/RedisHelper/SetInt32" target="_blank">~/RedisHelper/SetInt32</a></h3>
        <h3><a href="~/RedisHelper/GetInt32" target="_blank">~/RedisHelper/GetInt32</a></h3>
    </p>
</div>
