@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="~/ApplicationDbContext/Index" target="_blank">~/ApplicationDbContext/Index</a></p>
    <p><a href="~/CustomerDAO/Index" target="_blank">~/CustomerDAO/Index</a></p>
    <p><a href="~/CustomerService/Index" target="_blank">~/CustomerService/Index</a></p>
    <p><a href="~/DbTransaction/Index" target="_blank">~/DbTransaction/Index</a></p>
</div>
