
@{
    ViewData["Title"] = "Index";
}

<h1>LoggerController/Index</h1>
<h4><a href="~/Logger/Trace" target="_blank">~/Logger/Trace</a></h4>
<h4><a href="~/Logger/Debug" target="_blank">~/Logger/Debug</a></h4>
<h4><a href="~/Logger/Info" target="_blank">~/Logger/Info</a></h4>
<h4><a href="~/Logger/Warn" target="_blank">~/Logger/Warn</a></h4>
<h4><a href="~/Logger/Error" target="_blank">~/Logger/Error</a></h4>
<h4><a href="~/Logger/Critical" target="_blank">~/Logger/Critical</a></h4>