@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="~/SqlSugarClient/Index" target="_blank">~/SqlSugarClient/Index</a></p>
    <p><a href="~/BaseRepository/Index" target="_blank">~/BaseRepository/Index</a></p>
    <p><a href="~/CustomerRepository/Index" target="_blank">~/CustomerRepository/Index</a></p>
    <p><a href="~/BaseService/Index" target="_blank">~/BaseService/Index</a></p>
    <p><a href="~/CustomerService/Index" target="_blank">~/CustomerService/Index</a></p>
</div>