
@{
    ViewData["Title"] = "Index";
}

<h1>SimulateHttpStatusCodeController/Index</h1>
<h4><a href="~/SimulateHttpStatusCode/404" target="_blank">~/SimulateHttpStatusCode/404</a></h4>
<h4><a href="~/SimulateHttpStatusCode/HttpStatusCode401" target="_blank">~/SimulateHttpStatusCode/HttpStatusCode401</a></h4>
<h4><a href="~/SimulateHttpStatusCode/HttpStatusCode403" target="_blank">~/SimulateHttpStatusCode/HttpStatusCode403</a></h4>
<h4><a href="~/SimulateHttpStatusCode/HttpStatusCode500" target="_blank">~/SimulateHttpStatusCode/HttpStatusCode500</a></h4>
<h4><a href="~/SimulateHttpStatusCode/HttpStatusCode500_2" target="_blank">~/SimulateHttpStatusCode/HttpStatusCode500_2</a></h4>