
@{
    ViewData["Title"] = "Index";
}

<h1>CustomerServiceController/Index</h1>
<h4><a href="~/CustomerService/GetAll" target="_blank">~/CustomerService/GetAll</a></h4>
<h4><a href="~/CustomerService/GetPageList?page=1&pageSize=10" target="_blank">~/CustomerService/GetAll?page=1&pageSize=10</a></h4>
<h4><a href="~/CustomerService/GetPageList?page=2&pageSize=10" target="_blank">~/CustomerService/GetAll?page=2&pageSize=10</a></h4>
<h4><a href="~/CustomerService/GetByCustomerId?customerId=SAVEA" target="_blank">~/CustomerService/GetByCustomerId?customerId=SAVEA</a></h4>
<h4><a href="~/CustomerService/GetByCompanyName?companyName=Simons bistro" target="_blank">~/CustomerService/GetByCompanyName?companyName=Simons bistro</a></h4>