
@{
    ViewData["Title"] = "Index";
}

<h1>ModelBindController/Index</h1>
<h4><a href="~/ModelBind/Index2?UserName=admin&Password=123456" target="_blank">~/ModelBind/Index2?UserName=admin&Password=123456</a></h4>
<h4><a href="~/ModelBind/Index2?UserName2=admin&Password=123456" target="_blank">~/ModelBind/Index2?UserName2=admin&Password=123456</a></h4>
<h4><a href="~/ModelBind/Index2?UserName=admin&Password2=123456" target="_blank">~/ModelBind/Index2?UserName=admin&Password2=123456</a></h4>
<h4><a href="~/ModelBind/Index2?UserName2=admin&Password2=123456" target="_blank">~/ModelBind/Index2?UserName2=admin&Password2=123456</a></h4>
<h4><a href="~/ModelBind/Index3?UserName2=admin&Password2=123456" target="_blank">~/ModelBind/Index3?UserName2=admin&Password2=123456</a></h4>
