
@{
    ViewData["Title"] = "Index";
}

<h1>AutoMapperController/Index</h1>
<h4><a href="~/AutoMapper/Index2?UserName=UserName001&Password=123456&VerifyCode=1234" target="_blank">~/AutoMapper/Index2?UserName=UserName001&Password=123456&VerifyCode=1234</a></h4>
<h4><a href="~/AutoMapper/Index3" target="_blank">~/AutoMapper/Index3</a></h4>
<h4><a href="~/AutoMapper/Index4" target="_blank">~/AutoMapper/Index4</a></h4>
<h4><a href="~/AutoMapper/Index5" target="_blank">~/AutoMapper/Index5</a></h4>