
@{
    ViewData["Title"] = "Index";
}

<h1>BaseRepositoryController/Index</h1>
<h4><a href="~/BaseRepository/GetList" target="_blank">~/BaseRepository/GetList</a></h4>
<h4><a href="~/BaseRepository/GetList2" target="_blank">~/BaseRepository/GetList2</a></h4>
<h4><a href="~/BaseRepository/GetPageList" target="_blank">~/BaseRepository/GetPageList</a></h4>
<h4><a href="~/BaseRepository/GetById" target="_blank">~/BaseRepository/GetById</a></h4>
<h4><a href="~/BaseRepository/GetByIdAsync" target="_blank">~/BaseRepository/GetByIdAsync</a></h4>
<h4><a href="~/BaseRepository/Insert" target="_blank">~/BaseRepository/Insert</a></h4>