
@{
    ViewData["Title"] = "Index";
}

<form method="post" action="~/Account/Login" target="_self">
    <p>
        <label>Username: </label>
        <input type="text" id="txtUsername" name="Username" value="admin" />
    </p>
    <p>
        <label>Password: </label>
        <input type="password" id="txtPassword" name="Password" value="123456" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>