@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="~/SingleService/Index">~/SingleService/Index</a></p>
    <p><a href="~/SingleService/Index2">~/SingleService/Index2</a></p>
    <p><a href="~/SingleService/Index3">~/SingleService/Index3</a></p>
    <p><a href="~/UserService/Index">~/UserService/Index</a></p>
    <p><a href="~/UserService/Index2">~/UserService/Index2</a></p>
    <p><a href="~/User2Service/Index">~/User2Service/Index</a></p>
    <p><a href="~/User2Service/Index2">~/User2Service/Index2</a></p>
    <p><a href="~/PropertyAutowire/Index">~/PropertyAutowire/Index</a></p>
    <p><a href="~/AOP/Index">~/AOP/Index</a></p>
    <p><a href="~/AOP/Index2">~/AOP/Index2</a></p>
</div>
