@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <h1>Redis Controller</h1>
        <h3><a href="~/Redis/SetString" target="_blank">~/Redis/SetString</a></h3>
        <h3><a href="~/Redis/GetString" target="_blank">~/Redis/GetString</a></h3>
        <h3><a href="~/Redis/SetInt32" target="_blank">~/Redis/SetInt32</a></h3>
        <h3><a href="~/Redis/GetInt32" target="_blank">~/Redis/GetInt32</a></h3>
        <h3><a href="~/Redis/SetInt16" target="_blank">~/Redis/SetInt16</a></h3>
        <h3><a href="~/Redis/GetInt16" target="_blank">~/Redis/GetInt16</a></h3>
        <h3><a href="~/Redis/SetInt64" target="_blank">~/Redis/SetInt64</a></h3>
        <h3><a href="~/Redis/GetInt64" target="_blank">~/Redis/GetInt64</a></h3>
        <h3><a href="~/Redis/SetBoolean" target="_blank">~/Redis/SetBoolean</a></h3>
        <h3><a href="~/Redis/GetBoolean" target="_blank">~/Redis/GetBoolean</a></h3>
        <h3><a href="~/Redis/SetFloat" target="_blank">~/Redis/SetFloat</a></h3>
        <h3><a href="~/Redis/GetFloat" target="_blank">~/Redis/GetFloat</a></h3>
        <h3><a href="~/Redis/SetDouble" target="_blank">~/Redis/SetDouble</a></h3>
        <h3><a href="~/Redis/GetDouble" target="_blank">~/Redis/GetDouble</a></h3>
        <h3><a href="~/Redis/SetDecimal" target="_blank">~/Redis/SetDecimal</a></h3>
        <h3><a href="~/Redis/GetDecimal" target="_blank">~/Redis/GetDecimal</a></h3>
        <h3><a href="~/Redis/SetDatetime" target="_blank">~/Redis/SetDatetime</a></h3>
        <h3><a href="~/Redis/GetDatetime" target="_blank">~/Redis/GetDatetime</a></h3>
        <h3><a href="~/Redis/SetObject" target="_blank">~/Redis/SetObject</a></h3>
        <h3><a href="~/Redis/GetObject" target="_blank">~/Redis/GetObject</a></h3>
    </p>
</div>
