
@{
    ViewData["Title"] = "Index";
}

<h1>HttpClientFactoryController/Index</h1>
<h4><a href="./Sample" target="_blank">./Sample</a></h4>
<h4><a href="./Sample2" target="_blank">./Sample2</a></h4>
<h4><a href="./Sample3" target="_blank">./Sample3</a></h4>